.line-decorations {
  position: absolute;
}

.line-decorations .first {
  color: transparent;
}

.line-decorations .second {
  color: transparent;
  background-color: rgba(234, 92, 0, 0.33);
}

.line-decoration {
  position: absolute;
}
