.indent-guides {
  position: absolute;
}

.cigr {
  box-shadow: 1px 0 0 0 #d3d3d3 inset;
}

.cigra {
  box-shadow: 1px 0 0 0 #939393 inset;
}

.right-to-left-vertical-writing .cigr {
  box-shadow: 0 1px 0 0 #d3d3d3 inset;
}

.right-to-left-vertical-writing .cigra {
  box-shadow: 0 1px 0 0 #939393 inset;
}
